= wrap_layout :layout do
  .row.full-width.blog-main
    .large-8.columns.large-centered.post-top
      %h6
        .back-to-blog
          = link_to 'Back to Blog', '/blog' 
        .blog-date-author
          =lorem.date
          =current_page.data.author
  .row.article-title.post-top
    .large-8.columns.large-centered
      %article
        %h1
          = current_page.data.title
        = yield
  %ul.inline-list
    - current_page.data.tags do |tag|
      %li
        %h5= tag
