---
pageable: true
per_page: 10
---
.row
  .large-12.columns.large-centered.blog-main
    %h1
      The 966 Blog
      %hr
.row
  .large-8.columns.blog-main
    - page_articles.each_with_index do |article, i|
      %article
        .row
          .small-12.large-12.large-centered.columns
            %h4.blog-date-author
              = link_to article.title, article
            %h5.blog-date-author
              = article.date.strftime('%b %e')
              = article.data.author
            = article.summary(250)
            = link_to 'read more', article
    .row
      .large-12.columns
        - if paginate && num_pages > 1
          %p
            Page #{page_number} of #{num_pages}
          - if prev_page
            %p= link_to 'Previous page', prev_page

        - if paginate
          - if next_page
            %p= link_to 'Next page', next_page

  .large-4.columns.aside
  = partial "layouts/sidebar"

